
.home-toolbar{
    border-color: transparent;
    background-color: var(--dl-color-backgrounds-container);
    box-shadow: 0px 1px 0px 0px rgba(108, 140, 171, 0.15000000596046448);
    align-items: flex-start;
    height: 60px;
}

.home_title_company{
    display: flex;
    align-items: center;
}
.home_title_company img{
    width: 26px;
    height: 25px;
    margin-right: 15px;
}
.home_title_company span{
    color: rgba(51, 61, 75, 1);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: IBM Plex Mono;
    font-weight: 700;
    line-height: 16px;
    font-stretch: normal;
}

.home-left-group {
    width: 156px;
    display: flex;
    align-items: center;
    border-color: transparent;
    justify-content: center;
}
.home-account-switcher-cactus-practice {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 16px;
}
.home-frame-account-switcher {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    border-color: transparent;
}
.home-accounticon {
    width: 28px;
    height: 28px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 8px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}
.home-text123 {
    color: var(--dl-color-default-text);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: 16px;
    font-stretch: normal;
    margin-right: 8px;
    margin-bottom: 0;
    text-decoration: none;
}
.home-backgroundellipse {
    width: 28px;
    height: 28px;
    border-color: transparent;
    max-width: initial;
}
.home-iconchevron-down {
    width: 12px;
    height: 12px;
    position: relative;
}

.home-toolbar2{
    box-shadow: 0px 1px 0px 0px rgba(108, 140, 171, 0.150000006);
    background-color: #FFFFFF;
}

.home-toolbar2 ul li{
    padding: 8px 0;
    border-color: transparent;
    margin-right: 20px;
}
.home-toolbar2 ul li a{
    padding: 4px 16px;
    position: relative;
    border-color: transparent;
    border-radius: 20px;
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none
}
.home-toolbar2 a:hover{
    border-radius: 20px;
    background-color: var(--dl-color-default-primary);
    color: rgba(255, 255, 255, 1);
}
.home-toolbar2 a.active{
    padding: 4px 16px;
    position: relative;
    border-color: transparent;
    border-radius: 20px;
    background-color: var(--dl-color-default-primary);
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}


.home-dropdown-menu {
    font-family: Inter;
    width: 234px;
    height: auto;
    top: 60px;
    right: 50px;
    display: flex;
    padding: 0 0 8px 0;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.0399999991);
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgb(229, 231, 235);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    flex-direction: column;
    background-color: white;
    z-index: 10;
  }
  .home-heading {
    display: flex;
    padding: 8px 20px;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0px;
    background-color: rgba(243, 244, 246, 1)
  }
  .home-accounticon {
    width: 38px;
    height: 38px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 10px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .home-backgroundellipse {
    top: 0px;
    left: 0px;
    width: 38px;
    height: 38px;
    position: absolute;
    border-color: transparent;
  }
  .home-mask {
    top: 0px;
    left: 0px;
    width: 38px;
    height: 38px;
    position: absolute;
    border-color: transparent;
  }
  .home-body {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .home-text {
    color: var(--dl-color-default-greytext);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 0px;
  }
  .home-text02 {
    color: var(--dl-color-default-text);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .home-list1 {
    display: flex;
    padding: 8px 8px 0 8px;
    z-index: 1;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .home-framedropdownheading {
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 4px;
  }
  .home-text04 {
    color: var(--dl-color-default-gray01);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .home-framedropdownitem {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 4px;
  }
  .home-framedropdownitem:hover{
    background-color: rgba(246, 248, 250, 1);
  }
  .home-user6line {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 12px;
  }
  .home-content {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    border-color: transparent;
    margin-right: 12px;
  }
  .home-text06 {
    color: var(--dl-color-default-text);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .home-framedropdownitem1 {
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 4px;
  }
  .home-arrowupdownline {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 12px;
  }
  .home-content1 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    border-color: transparent;
    margin-right: 12px;
  }
  .home-text08 {
    color: var(--dl-color-default-text);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .home-framedropdownitem2 {
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 6px;
  }
  .home-settingsline {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 12px;
  }
  .home-content2 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    border-color: transparent;
    margin-right: 12px;
  }
  .home-text10 {
    color: var(--dl-color-default-text);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .home-list2 {
    display: flex;
    padding: 0 8px;
    z-index: 2;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .home-framedropdownheading1 {
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 4px;
  }
  .home-text12 {
    color: var(--dl-color-default-gray01);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .home-framedropdownitem3 {
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 4px;
  }
  .home-questionline {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 12px;
  }
  .home-content3 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    border-color: transparent;
    margin-right: 12px;
  }
  .home-text14 {
    color: var(--dl-color-default-text);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .home-framedropdownitem4 {
    display: flex;
    padding: 8px 12px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 6px;
    margin-bottom: 4px;

  }
 