.layoutUserProfile{
    background-color: #FCFCFC;
    margin-top: 1px;
}
.layoutUserProfile h1{
    color: var(--dl-color-default-text);
    font-size: 34px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 600;
    line-height: 139.9999976158142%;
    font-stretch: normal;
}