.text_header_toolbar2{
    color: var(--dl-color-default-text);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.title-header1{
    color: var(--dl-color-default-text);
    font-size: 34px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 600;
    line-height: 139.9999976158142%;
    font-stretch: normal;
    text-decoration: none;
    width: 100%;
}
.text_title_minichart{
    color: var(--dl-color-default-text);
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.text_title_subtitle{
    color: var(--dl-color-default-greytext);
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.text_color_up{
        left: 19.999980926513672px;
        color: rgba(22, 94, 61, 1);
        font-size: 14px;
        align-self: auto;
        font-style: Medium;
        text-align: left;
        font-family: IBM Plex Sans;
        font-weight: 500;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
}
.text_color_down{
    left: 19.999980926513672px;
    color: rgba(205, 61, 100, 1);
    font-size: 14px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}